*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: 50px;
    line-height: 63px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;   
}

h6{
    font-weight: 700;
    font-size: 12px;
    color: #222;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0px 20px 0px;
}


#header{
    display: flex;
    justify-content: space-between;
    background-color: #e3e6f3;
    padding: 10px 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.6);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 77px;
}

.header-list{
    display: flex;
    align-items: center;
}

.header-list-nav ul{
    display: flex;
   
}

.header-list-nav ul li{
    margin: 0px 10px;
    list-style-type: none;
    padding: 0 20px;
    position: relative;
}


.header-list-nav ul a{
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    transition: 0.3s ease;

}


.header-list-nav ul li a:hover,
.header-list-nav ul li a.active{
    color: #088178;
    content: "";
}

.header-logo img{
    width: 69px;
    height: 68px;
}

.header-list-icon a{
    color: #1a1a1a;
    padding-left: 10px;
    transition: 0.3s ease;
}

.header-list-icon a:hover{
    color: #088178;
}

.header-list-nav ul li a:hover::after,
.header-list-nav ul li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


#hero{
    background-image: url(images/hero1.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 80px;

}

#hero h4{
    padding-bottom: 10px;
    font-size: 40px;
}

#hero h2{
    font-size: 60px;
}

#hero h1{
    color: #088178;
    font-size: 60px;
}

#hero button{
    background-color: transparent;
    background-image: url(images/brush.png);
    background-repeat: repeat;
    background-size: cover;
    width: 260px;
    height: 125px;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    color: #088179;
    transition: color 0.2s;
}

#hero button:hover{
    color: whitesmoke;
}
#features{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#features .f-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    margin: 15px 0;
    transition: box-shadow 0.3s;

}

#features .f-box:hover{
    box-shadow: 10px 10px 4px rgba(0,0,0,0.1);
    cursor: pointer;
}



.f-box img{
    height: 124px;
    width: 147px;
    margin-bottom: 10px;
}

.f-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    font-size: 14px;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4
}

.product-section .pro-collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 60px;
}

.product-section h1,
.product-section p{
     text-align: center;
}

.product-section .product-cart{
    width: 280px;
    border: 1px solid ebebeb;
    padding: 13px;
    margin-bottom: 30px;
    border-radius: 25px;
    position: relative;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.1);
    transition: box-shadow 0.2s;
}

.product-section .product-cart:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.6);
}

.product-section .product-cart img{
    width: 100%;
    border-radius: 25px;
}

.product-section .product-cart span{
    color: #969696;
    font-weight: 500;
    line-height: 30px;
}

.product-section .product-cart h4{
    font-size: 18px;
    color: rgb(41, 41, 41);
}

.product-section .product-cart .stars{
    padding: 4px 0;
}

.product-section .product-cart .price{
    color: #088178;
}

.product-section .product-cart .buy-icon{
    color: #088178;
    background-color: #c7e9e75e;
    padding: 15px;
    border-radius: 50px;
    position: absolute;
    right: 10px;
    bottom: 4px;

}

.off-banner{
    background-image: url(images/banner/b2.jpg);
    background-size: cover;
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.off-banner h4{
    color: #eaebf0;
}

.off-banner h2{
    padding: 20px 0;
    color: #eaebf0;
}

button.normal{
    padding: 15px 30px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    transition: 0.2s;
}

#banners{
    margin: 0 60px;
}

#banners h2,h4,span{
    color: rgb(248, 248, 248);
}

#banners .big-banners{
    display: flex;
    align-items: center;
    justify-content: center;

}

#banners .big-banners div{
    min-width: 560px;
    margin: 15px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    background-size: cover;
    backdrop-filter: blur(8px);
}

#banners .big-banners-1{
    background-image: url(images/banner/b17.jpg);

}

#banners .big-banners-2{
    background-image: url(images/banner/b10.jpg);
}

#banners .small-banners-1{
    background-image: url(images/banner/b7.jpg);

}

#banners .small-banners-2{
    background-image: url(images/banner/b4.jpg);

}

#banners .small-banners-3{
    background-image: url(images/banner/b18.jpg);

}

#banners .small-banners{
    display: flex;
    align-items: center;
    justify-content: center;
}

#banners .big-banners button{
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    color: rgb(248, 248, 248);
    border: 1px solid rgb(248, 248, 248);
    cursor: pointer;
    transition: 0.3s ease;
}

#banners .big-banners button:hover{
    background-color: #088178;
    border: 1px solid #088178;
}

#banners .small-banners{
    display: flex;
    align-items: center;
    justify-content: center;
}

#banners .small-banners div{
    min-width: 370px;
    height: 200px;
    display: flex;
    flex-direction: flex-start;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    margin: 20px 20px;
}

.small-banners h2{
    padding: 0 5px;
    font-size: 25px;

}

.small-banners h5{
    color: #088178;
    padding: 0 5px;
    
}

.sign{
    background-image: url(images/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 180px;
    background-color: #041e42;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 75px;


}

.sign div{
    padding: 30px 20px;
}

.sign h3{
    color: rgb(248, 248, 248);
    padding: 10px 10px;
}

.sign h6{
    padding: 0 10px;
    color: rgb(151, 151, 151);
    font-size: 17px;
}

.sign-letters span{
    color: rgb(216, 182, 29);
}

.sign .form input{
    padding: 20px;
    width: 350px;
    height: 44px;
    background-color: #d1d0d0;
    border-radius: 6px 0 0 6px;
    font-size: 18px;
    border: none;
    outline: none;
    margin-right: -4px;
    margin-top: 1px;
}

.sign .form button{
    margin-left: -3px;
    border: none;
    padding: 12px;
    width: 120px;
    background-color: #088178;
    color: white;
    font-size: 17px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

.c1{
    display: flex;
    justify-content: space-between;
 
    padding: 30px 30px;

}


#footer p,#footer a{
    text-decoration: none;
    color: rgb(109, 109, 109);
}

#footer a:hover{
    color:#088178;
}

#footer .about{
    display: flex;
    flex-direction: column;
}
#footer .about a{
    padding: 8px 0;
}

#footer .myaccount{
    display: flex;
    flex-direction: column;
}
#footer .myaccount a{
    
    padding: 8px 0;
}

#footer .download img{
    border: 1px solid #eceb;
    border-radius: 7px;
}